.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.list {
  margin: 0;
  padding: 0;
}
