.headerApp {
  width: 100%;
  height: 92px;
  background-color: white;
  border-width: 0px 0px 1px 0px;
  border-color: #cdcdcd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerApp .container1400 {
  width: 1400px;
}

.headerApp .container1400 .navBar {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerApp .container1400 .navBar .leftSide {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerApp .container1400 .navBar .leftSide .logo {
  margin-right: 35px;
  margin-bottom: 0px;
}

.headerApp .container1400 .navBar .leftSide .item:not(:last-child) {
  margin-right: 27px;
  margin-bottom: 0px;
}

.headerApp .container1400 .navBar .leftSide .item .titlesTopics {
  font-family: 'RobotoMono_Medium';
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.headerApp .container1400 .navBar .rightSide {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerApp .container1400 .navBar .rightSide .item:not(:last-child) {
  margin-right: 25px;
  margin-bottom: 0px;
}

.headerApp .container1400 .navBar .rightSide .item .titlesTopics {
  font-family: 'RobotoMono_Medium';
  font-style: normal;
}
