.GoodsPage{
    width: 1256px;
    margin-left: calc((100% - 1040px)/2);

    .GoodsPageUl{
        display: flex;
        flex-direction: row;
    }
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    width: 25%;
}

ul li:not(:nth-child(4n+4)) {
    margin-right: 15px;
}
ul li:not(:nth-last-child(-n+4)){
    margin-bottom: 15px;
}

@media only screen and (max-width: 1200px) {
    .GoodsPage{
        width: 768px;
        margin-left: calc((100% - 768px)/2);
    
        .GoodsPageUl{
            display: flex;
            flex-direction: row;
        }
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    
    ul li {
        width: 33%;
    }
    
    ul li:not(:nth-child(3n+3)) {
        margin-right: 15px;
    }
    ul li:not(:nth-last-child(-n+3)){
        margin-bottom: 15px;
    }
}